.Category_detals .Category_detals_img {
  overflow: hidden;
  height: 55vh;
  position: relative;
}
.Category_detals_img .title {
  position: absolute;
  top: 40%;
  left: 53%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: white;
  width: 300px;
  text-align: center;
}
.Category_detals_img .title:after {
  content: "";
  background: linear-gradient(
    to bottom right,
    rgba(24, 236, 0, 0.5),
    rgba(189, 241, 183, 0)
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.Category_detals_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
